# Python virtual environment
env/

# Ignore compiled Python files
*.pyc
__pycache__

# Ignore the Django migration directory
/migrations/

# Ignore local settings file
/local_settings.py

# Ignore IDE files
.vscode/
.idea/

# Ignore logs and database files
*.log
*.sqlite3
